body {
    height: 5000px;
}
.up {
   position: fixed;
   bottom: 10px;
   right: -40px;
   background-color: rgb(236, 87, 87);
   color: wheat;
   border-radius: 4px;
   font-weight: bold; 
   font-size: 12px;
   padding: 5px 8px;
   font-family: Arial, tahoma;
   cursor: pointer;
   transition: 0.2s;
}
.up.show {
    right: 10px;
}